body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
  }
  
  .todo_wrapper {
    width: 400px;
    min-height: 800px;
    margin: 100px auto;
    background: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .todo_wrapper input {
    width: 100%;
    padding: 10px;
    margin-top: 30px;
    border-radius: 5px;
    border: 1px solid #e9e9e9;
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .todo_wrapper .todo_list_wrap {
    width: 100%;
    padding: 20px;
    background: #e9e9e9;
    flex: 1;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }     
  
  .todo_wrapper .more_btn {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background: #00438a;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    border: none;
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .todo_item {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .delete_btn {
    background: #ff0000;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    border: none;
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
  }
  
