*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.5;
    font-weight: 400;
}

a{
    text-decoration: none;
    color: inherit;
    display: block;
}

ul, ol{
    list-style: none;
    padding: 0;
    margin: 0;
}

button{
    border: none;
    background: none;
    cursor: pointer;
}


img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
